#blog-title{
    font-size: 40px;
    color: darkslategrey;
}

p{
    color: dimgray;
}

h4{
    text-transform: uppercase;
    font-family: monospace;
}

#always{
    color: grey;
}

h1{
    font-family: sans-serif;
}

a{
    font-size: 28px;
    color: black;

}

a:hover{
    color: orange;
}
img{
    width: 100%;
}
#logo img{
    width: 210px;
}

#blog-content{
    width: 90%;
}

#site-title{
    font-size: 1.8rem;
}